.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__image-container {
  position: relative;
  display: inline-block;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  padding: 0;
  margin: 0;
  max-width: 320px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/liked.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/likedhover.svg);
  background-repeat: no-repeat;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: url("../images/trash.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  outline: none;
}

.card__delete-btn:hover {
  background: url("../images/trashhover.svg") no-repeat center center;
  background-size: contain;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
    margin: 40px 16px 12px 16px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 250px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }

  .card__content {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .card__image-container {
    position: relative;

    .card__image {
      width: 240px;
      height: 240px;
      margin: 20px auto 12px;
    }

    .card__delete-btn {
      position: absolute;
      top: 6px;
      right: 6px;
      width: 24px;
      height: 24px;
      background-size: cover;
    }

    .card__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .card__title {
      font-size: 14px;
      line-height: 1.2;
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card__like-btn {
      width: 16px;
      height: 14px;
      margin-left: auto;
    }
  }
}
