.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.4);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.modal__close-btn {
  background-image: url(../images/close.svg);
  background-color: transparent;
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
  color: #212121b2;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  border: 1px solid #21212166;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000;
  color: #fcf5e5;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
  transition: background 0.03s;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}

body.modal_opened {
  overflow: hidden;
}
